.our-sevices {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1250px;
  background-color: #e4fdf9;
  align-items: center;
}

.our-sevices__files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 388px;
  background-color: #ffffff;
  margin: 15px;
}

.card:hover {
  background-color: #00897b;
  transition-duration: 500ms;
}

.card__icon {
  align-items: center;
  margin-top: 55px;
}

.card__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #212121;
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
  margin: 20px 0 0 0;
}

.card__discription {
  width: 285px;
  height: 92px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #212121;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.card__button {
  width: 150px;
  height: 55px;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #212121;
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #212121;
  cursor: pointer;
  margin-top: 10px;
}

.card__button:hover {
  background-color: #27be9f;
  transition-duration: 500ms;
}
